.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 10px 40px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 80%;
    border-radius: 5px;
    min-height: 200px;
    padding: 15px;
    margin-top: 10px;
}

.period {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.customPeriod {
    margin-left: 10px;
}

.parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 10px;
}
.parametersToAdd {
    border-right: 1px solid lightgray;
    padding-right: 5px;
}

.addedParameters {
    padding-left: 5px;
}

.parametersBtn {
    margin-block: 5px;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    left: 5px;
    /* box-shadow: ; */
}